<h3 class="text-white font-weight-bold bg-dark d-flex justify-content-center">Carrito</h3>
<ul class="px-0 container list-group">
    <li class="lisTitle px-1 list-group-item d-flex justify-content-between align-items-center">
        <span class="px-1 mr-1 col-4 badge badge-dark badge-pill">Título</span>
        <span class="px-1 mr-1 col-2 badge badge-dark badge-pill">Cantidad</span>
        <span class="px-1 mr-1 col-3 badge badge-dark badge-pill">Precio unitario</span>
        <span class="px-1 mr-1 col-2 badge badge-dark badge-pill">Subtotal</span>
    </li>
    <li *ngFor="let book of myList$ | async" class="px-1 list-group-item d-flex justify-content-between align-items-center">
        <span class="px-1 mr-1 col-4 badge badge-warning badge-pill">{{book.nombre}}</span>
        <span class="px-1 mr-1 col-2 badge badge-warning badge-pill">{{book.cantidad}}</span>
        <span class="px-1 mr-1 col-3 badge badge-warning badge-pill">{{book.precio}}</span>
        <span class="px-1 mr-1 col-2 badge badge-warning badge-pill">{{book.precio*book.cantidad}}</span>
    </li>

</ul>

<div class="input-group justify-content-between">
    <div class="input-group-prepend">
        <span class="input-group-text bg-dark text-white">Total</span>
    </div>
    <span class="text-white mr-1 col-2 badge badge-dark badge-pill d-flex align-items-center justify-content-center">{{total$ | async}}</span>
</div>