<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Portada</th>
            <th scope="col">Nombre</th>
            <th scope="col">Autor</th>
            <th scope="col">Genero</th>
            <th scope="col">Editorial</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Carrito</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books" [ngClass]="{'bg-warning': book.best_seller}">

            <td><img [src]="book.imagen" class="img-fluid portada"></td>
            <td class="align-middle">{{book.nombre}}</td>
            <td class="align-middle">{{book.autor}}</td>
            <td class="align-middle">{{book.genero}}</td>
            <td class="align-middle">{{book.editorial}}</td>
            <td class="align-middle">{{book.precio | currency}}</td>
            <td class="align-middle"><span class="text-danger font-weight-bolder" *ngIf="book.cantidad==0; else disponibles">AGOTADO</span></td>
            <ng-template #disponibles><span class="d-flex justify-content-center">{{book.cantidad}}</span></ng-template>
            <td class="align-middle"><button type="button" class="btn btn-dark">Agregar</button></td>
        </tr>

    </tbody>
</table>