<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Portada</th>
            <th scope="col">Nombre</th>
            <th scope="col">Autor</th>
            <th scope="col">Genero</th>
            <th scope="col">Editorial</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Carrito</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books" [ngClass]="{'bg-warning': book.best_seller}">

            <td><img [src]="book.imagen" class="img-fluid"></td>
            <td>{{book.nombre}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.genero}}</td>
            <td>{{book.editorial}}</td>
            <td>{{book.precio | currency}}</td>
            <td><span class="text-danger font-weight-bolder" *ngIf="book.cantidad==0">AGOTADO</span></td>
            <td *ngElse>{{book.cantidad}}</td>
            <td><button type="button" class="btn btn-dark">Agregar</button></td>
        </tr>

    </tbody>
</table>